@import "~bootstrap/scss/bootstrap";

.item_left-drag,
.item_right-drag {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  background: #000;
  cursor: e-resize;
}

.item_left-drag {
  left: 0;
}

.item_right-drag {
  right: 0;
}
